:root {
	--bg-color: #EFEEEB;
	--text-color: #3B3B3B;
	--title-font-size: 3rem;
	--paragraph-font-size: 1.2rem;
	--font-family: "scale-variable", sans-serif;
	--secfont-family: "source-han-sans-cjk-ja", sans-serif;
	--secfont-weight: 400;
	--accent-color1: #AEBA75;
	--accent-color2: #DDD1AC;
}

* {
	margin: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: var(--font-family);
	background-color: var(--bg-color);
}

header {
	margin-left: 5rem;
	margin-right: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh; 
}

.left-side {
	width: 40vw;
}

.right-section {
	width: 60vw;
	overflow: hidden;
	/* position: relative; */
}

.content {
	text-align: left;
}

h1 {
	font-family: var(--secfont-family);
	font-weight: var(--secfont-weight);
	font-size: 5rem;
	color: var(--text-color);
	padding-bottom: 0.2rem;
	/* margin-top: 1rem; */
}

h2 {
	font-family: var(--font-family);
	font-variation-settings: "wght" 100;
	font-size: 1.2rem;
	letter-spacing: 1rem;
	color: var(--text-color);
	margin-bottom: 4rem;
}

.line {
	width: 3rem;
	height: 0.1rem; 
	background-color: var(--text-color);
	margin-left: 2.1rem;
}

.descriptions {
	margin-top: 10rem;
	font-family: var(--font-family);
	font-variation-settings: "wght" 300;
	color: var(--text-color);
	font-size: 1.1rem;
	line-height: 1.4rem;
} 

.description1 {
	max-width: 20rem;
}

.description2 {
	margin-top: 0.5rem;
	font-variation-settings: "wght" 100;
	max-width: 24rem;
} 

.video {
	display: block;
	width: 100%;
	object-fit: cover;
}

.gallery {
	margin-top: 10rem;
	display: grid;
	gap: 10rem;
	padding: 5rem;
	width: 100%;
	box-sizing: border-box;
	grid-template-columns: repeat(3, 1fr); 
	overflow: hidden; 
  }

img {
	filter: grayscale(100%);
}

img:hover {
	filter: grayscale(0%);
} 

/* Add blockquote designs */
blockquote {
	font-family: var(--font-family);
	font-variation-settings: "wght" 100;
	font-size: 1.5rem;
	line-height: 2rem;
	border-left: 3px solid #AEBA75;
	padding-left: 1rem;
}

