/* All the commented stuff is desktop sizes */

:root {
	--bg-color: #EFEEEB;
	--text-color: #3B3B3B;
	/* --title-font-size: 3rem; */
	--title-font-size: 2rem;
	--paragraph-font-size: 1rem;
	/* --paragraph-font-size: 1.2rem; */
	--font-family: "scale-variable", sans-serif;
	--secfont-family: "source-han-sans-cjk-ja", sans-serif;
	--secfont-weight: 300;
	--accent-color1: #AEBA75;
	--accent-color2: #DDD1AC;
}

* {
	margin: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-top: 5rem;
	margin-bottom: 3rem;
	margin-left: 2rem;
	margin-right: 2rem;
	/* height: 100%; */
	font-family: var(--font-family);
	background-color: var(--bg-color);
}

/* header {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh; 
} */

header {
	justify-content: space-between;
	align-items: center;
	/* height: 100vh;  */
}

.left-side {
	text-align: center;
	display: grid;
	justify-items: center;
	height: 100%;
}
/* .left-side {
	width: 40vw;
}

.right-section {
	width: 60vw;
	overflow: hidden;
	/* position: relative; 
} */

.content {
	text-align: center;
}

h1 {
	font-family: var(--secfont-family);
	font-weight: var(--secfont-weight);
	/* font-size: 5rem; */
	font-size: 3.4rem;
	color: var(--text-color);
	/* padding-bottom: 0.2rem; */
	margin-bottom: 1rem;
	margin-top: 3rem;
	/* margin-top: 1rem; */
}

h2 {
	font-family: var(--font-family);
	font-variation-settings: "wght" 100;
	/* font-size: 1.2rem; */
	font-size: 1.4rem;
	letter-spacing: 1rem;
	color: var(--text-color);
	margin-bottom: 6rem;
	/* margin-bottom: 5rem; */
}

.line {
	width: 3rem;
	height: 0.1rem; 
	background-color: var(--text-color);
	/* margin-left: 0.5rem; */
}

.descriptions {
	/* margin-top: 10rem; */
	margin-top: 6rem;
	/* Added now */
	/* margin-bottom: 12rem; */
	font-family: var(--font-family);
	font-variation-settings: "wght" 300;
	color: var(--text-color);
	font-size: 1.2rem;
	line-height: 1.4rem;
} 

.description1 {
	/* max-width: 20rem; */
	max-width: 20rem;
	font-size: 1.1rem;
}

.description2 {
	margin-top: 0.6rem;
	font-variation-settings: "wght" 100;
	/* max-width: 23rem; */
	max-width: 20rem;
	font-size: 1rem;
	line-height: 1.6rem;
} 

.right-side {
	height: 100%;
}

/* .video {
	display: block;
	width: 100%;
	object-fit: cover;
}  */

.video {
	display: block;
	height: 100vh;
	width: 100vw;
	top: 100vh;
	object-fit:cover;
	left: 0;
	position: absolute;
}

.gallery {
	/* margin-top: 10rem; */
	margin-top: 40rem;
	margin-bottom: 5rem;
	display: grid;
	/* gap: 10rem; */
	gap: 5rem;
	padding: 2rem;
	/* padding: 5rem; */
	width: 100%;
	box-sizing: border-box;
	/* grid-template-columns: repeat(3, 1fr);  */
	grid-template-columns: repeat(1, 1fr);
	overflow: hidden;
}

img {
	filter: grayscale(100%);
}

img:hover {
	filter: grayscale(0%);
} 

/* Add blockquote designs */
blockquote {
	font-family: var(--font-family);
	font-variation-settings: "wght" 100;
	/* font-size: 1.5rem;
	line-height: 2rem; */
	font-size: 1rem;
	line-height: 1.2rem;
	border-left: 3px solid #AEBA75;
	/* padding-left: 1rem; */
	padding-left: 0.5rem;
}

.linked-video iframe {
	filter: grayscale(100%);
}

.linked-video iframe:hover {
	filter: grayscale(0%);
}

iframe {
	filter: grayscale(100%);
}

iframe:hover {
	filter: grayscale(0%);
}

#channel-users {
	/* margin-left: 10rem; */
	margin-left: 2rem;
	display: flex;
	/* gap: 20rem; */
	gap: 3rem;
	font-size: 0.8rem;
}

footer {
	display: flex;
	gap: 3rem;
	/* gap: 20rem; */
	margin-bottom: 1rem;
}

