/* All the commented stuff is desktop sizes */

:root {
	--bg-color: #EFEEEB;
	--text-color: #3B3B3B;
	--title-font-size: 2rem;
	--paragraph-font-size: 1rem;
	--font-family: "scale-variable", sans-serif; 
	--secfont-family: "kokuryu", sans-serif;
	--secfont-weight: 400;
	--accent-color1: #AEBA75;
	--accent-color2: #DDD1AC;
	--block-bg: #c3b7a867;
	--container-margin: #e6e3df;
	--sticky-font: "EB Garamond", serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin-top: 0rem;
	margin-left: 0rem;
	margin-right: 2rem;
	font-family: var(--font-family);
	background-color: var(--bg-color);
	background-color: var(--bg-color);
	cursor: url('enso.svg'), auto; 
}


/* Bg change on scroll - learnt from https://codepen.io/uiduck/pen/vYobamq and executed it. I've added comments based on how I understood this code to work */
@keyframes colorShift {
	0% {
		background-color: #fdfbf7; /*Gradient 1*/
	}
	50% {
		background-color: #f5e6d9; /* Gradient 2 */
	}
	100% {
		background-color: #e3cbb1; /* Gradient 3 */
	}
} 

@media (prefers-reduced-motion: no-preference) { /*This animation won't work if user has enabled accessibility features with preference: reduced-motion */
	@supports (animation-timeline: scroll()) {
		.scroll-wrapper {
		animation: colorShift linear both; /*linear - color shift is smooth & both- last frame of the animation stays while the frame is stopped */
		animation-timeline: scroll(); /* animation is scroll based and not time based */
		}
	}
}

/* Title + Video */ 
header {
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: relative;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1; /* Position the video behind the text */
	overflow: hidden;
}

.video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
}

.overlay {
	position: absolute;
	margin-left: 0rem;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(18, 18, 18, 0.7); 
	z-index: 1; 
}


.content h1, .content h2 {
	color: var(--bg-color);
	text-align: center;
	width: 100vw;
}

h1 {
	font-family: var(--secfont-family);
	font-weight: var(--secfont-weight);
	font-size: 6rem;
	color: var(--text-color);
	padding-top: 16rem;
}

h2 {
	font-family: var(--font-family);
	font-variation-settings: "wght" 200 ;
	font-size: 1.4rem;
	letter-spacing: 0.8rem;
	color: var(--text-color);
	padding-top: 2rem;
	padding-left: 0.8rem;
}

.descriptions {
	letter-spacing: 0.01rem;
	margin-left: 2rem;
	top: 100vh;
	color: var(--text-color);
	margin-top: 6rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
	border-top: 1px solid #3B3B3B;
	border-bottom: 1px solid #3B3B3B;
}

.description1 {
	font-size: 1.3rem;
	font-variation-settings: "wght" 300;
	margin-bottom: 1rem;
}

.description2 {
	color: var(--text-color);
	font-size: 1.2rem;
	line-height: 1.6;
	font-variation-settings: "wght" 100;
	max-width: 20rem;
}


/* Filter Button */
/* Positioning the label in the bottom right */
label {
	position: fixed;
	bottom: 40px;
	right: 10px;
	border-radius: 2px;
	color: #3b3b3b77;
	text-align: center;
	display: flex;
	text-decoration: underline; 
	text-underline-offset: 2px;
}

select {
	appearance: none; /* Removes default browser styles */
	outline: none;
}

/* Style the select dropdown */
.filters {
	font-size: 1rem;
	font-variation-settings: "wght" 300;
	padding: 8px 8px;
	border-radius: 2px;
	cursor: pointer;
}

.show-video li, .show-image li, .show-text li, .show-audio li, .show-linked-audio li, .show-link li {
	display: none;
}

.show-video li.video-block, .show-image li.image-block, .show-text li.text-block, .show-audio li.audio-block, .show-linked-audio li.linked-audio-block, .show-link li.link-block {
	display: flex;
}


main {
	margin-left: 2rem;
}

/* Media */
.gallery {
	display: grid;
	margin-top: 15rem;
	justify-content: center;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
	gap: 15rem;
	justify-content: center;
	align-items: center;
}

li {
	width: 312px;
	max-height: 650px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: fill;
}

li {
	opacity: 20%;
	filter: grayscale(100%);
	filter: blur(100);
	transition: opacity 1s ease-in-out; /* Transition everything. */
}

li.highlight {
	opacity: 1;
	filter: grayscale(0%);
}


/* Title of media */
/* Use this on hover for desktop query */
.media-container {
	position: relative;
	border: 4px solid var(--container-margin);
	border-radius: 2px; 
	width: 312px;

} 

.media-title {
	font-size: 1rem;
	font-variation-settings: "wght" 300;
	color: #555555;
	background-color: var(--container-margin);
	margin-top: -0.3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

/* Text Style */
blockquote {
	max-width: 312px;
	font-family: var(--sticky-font);
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2.2rem;
	background-color: var(--block-bg);
	padding-top: 2rem;
	padding-bottom: 6rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}


/* Uploaded Audio Style */
audio {
	background-color: var(--block-bg);
	/* filter: inherit; */
	height: 400px; 
	object-fit: cover;
	padding-top: 2rem;
	padding-bottom: 3rem; 
	padding-left: 1rem;
	padding-right: 1rem;
}

li .video-block {
	width: 312px;
	max-height: 240px;
	object-fit:contain
}

.uploaded-video {
	width: 304px;
	height: 200px;
}


/* Linked Audio + Video Style */
iframe {
	background-color: var(--block-bg);
	padding-top: 2rem;
	padding-bottom: 6rem;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 304px;
}


/* Footer */
footer {
	color: var(--text-color);
	margin-top: 10rem;
	margin-bottom: 3rem;
	margin-left: 2rem;
}

.line {
	height: 1px;
	background-color: var(--text-color);
	margin-left: -2rem;
	margin-right: -2rem;
}

.text-footer {
	margin-top: 1rem;
	font-size: 1rem;
	font-variation-settings: "wght" 300;
	margin-bottom: 2rem;
}

.names {
	display: flex;
	flex-direction: row;
	font-family: var(--font-family);
	font-variation-settings: "wght" 300;
	gap: 0.4rem;
	margin-bottom: 1rem;
}

#channel-users {
	display: flex;
	flex-direction: row;
	font-family: var(--font-family);
	font-variation-settings: "wght" 400;
	gap: 0.5rem;
	text-decoration: underline;
}

address {
	display: flex;
	flex-direction: row;
}


@media (min-width: 420px){

	.description2 {
		color: var(--text-color);
		font-size: 1.2rem;
		line-height: 1.6;
		font-variation-settings: "wght" 100;
		max-width: 26rem;
	}
}

@media (min-width: 700px) {


	.descriptions {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.description2 {
		max-width: 29rem;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
		gap: 15rem;
		justify-content: center;
		align-items: center;
	}

	li {
		width: 340px;
		max-height: 640px;
	}

	.media-container {
		width: 340px;
		border: 4px solid var(--container-margin);
	} 

	.media-title {
		font-size: 1rem;
		font-variation-settings: "wght" 300;
		color: #555555;
		background-color: var(--container-margin);
		margin-top: -0.3rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;
	}

	blockquote {
		max-width: 340px;
	}
	
	
	/* Uploaded Audio Style */
	audio {
		width: 340px;
	}
	
	li .video-block {
		width: 340px;
		max-height: 300px;
	}
	
	.uploaded-video {
		width: 340px;
		height: 300px;
	}
	
	
	/* Linked Audio + Video Style */
	iframe {
		width: 336px;
	}

}

@media (min-width: 800px) {

	.descriptions {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	.description2 {
		max-width: 32rem;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
		gap: 15rem;
		justify-content: center;
		align-items: center;
	}

	li {
		width: 360px;
		max-height: 670px;
	}

	.media-container {
		width: 360px;
	} 

	.media-title {
		font-size: 1rem;
		font-variation-settings: "wght" 300;
		color: #555555;
		background-color: var(--container-margin);
		margin-top: -0.3rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;
	}

	blockquote {
		max-width: 360px;
	}
	
	
	/* Uploaded Audio Style */
	audio {
		width: 360px;
	}
	
	li .video-block {
		width: 360px;
		max-height: 340px;
	}
	
	.uploaded-video {
		width: 352px;
		height: 330px;
	}
	
	
	/* Linked Audio + Video Style */
	iframe {
		width: 352px;
	}

}

@media (min-width: 1200px) {

	h1 {
		font-size: 8rem;
		padding-top: 19rem;
	}
	
	h2 {
		font-size: 1.6rem;
		letter-spacing: 1.2rem;
		padding-top: 2rem;
		padding-left: 1.6rem;
	}
	
	.descriptions {
		margin-top: 7rem;
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;
	}
	
	.description1 {
		font-size: 2rem;
		margin-bottom: 1.2rem;
	}
	
	.description2 {
		font-size: 1.6rem;
		line-height: 1.8;
		max-width: 50rem;
	}
	
	/* Filter Button */
	/* Positioning the label in the bottom right */
	label {
		position: fixed;
		bottom: 40px;
		right: 10px;
		border-radius: 2px;
		color: #3b3b3b77;
		text-align: center;
		display: flex;
		text-decoration: underline; 
		text-underline-offset: 2px;
	}
	
	select {
		appearance: none; /* Removes default browser styles */
		outline: none;
	}
	
	/* Style the select dropdown */
	.filters {
		font-size: 1rem;
		font-variation-settings: "wght" 300;
		padding: 8px 8px;
		border-radius: 2px;
		cursor: pointer;
	}
	
	.show-video li, .show-image li, .show-text li, .show-audio li, .show-linked-audio li, .show-link li {
		display: none;
	}
	
	.show-video li.video-block, .show-image li.image-block, .show-text li.text-block, .show-audio li.audio-block, .show-linked-audio li.linked-audio-block, .show-link li.link-block {
		display: flex;
	}
	
	ul {
		grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
	}
	
	li {
		width: 356px;
		max-height: 760px;
	}
	
	
	/* Title of media */
	.media-container {
		width: 356px;
		border: 2px solid transparent;
		border-radius: 2px; 
	} 
	
	.media-title {
		font-size: 1rem;
		opacity: 0;
		will-change: transform, opacity;
		transition: opacity 0.2s ease-in-out;
		text-align: center;
	}

	.media-container:hover {
		border: 4px solid var(--container-margin); /* Show border on hover */
	}
	
	.media-container:hover .media-title {
		opacity: 1;
	}
	
	
	/* Text Style */
	blockquote {
		max-width: 356px;
		font-family: var(--sticky-font);
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 2.2rem;
		background-color: var(--block-bg);
		padding-top: 3rem;
		padding-bottom: 8rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	
	
	/* Uploaded Audio Style */
	audio {
		width: 356px;
		height: 320px;
		object-fit: cover;
		padding-top: 2rem;
		padding-bottom: 6rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	
	li .video-block {
		width: 356px;
		max-height: 320px;
		object-fit:contain
	}
	
	.uploaded-video {
		width: 348px;
		height: 320px;
	}
	
	
	/* Linked Audio + Video Style */
	iframe {
		background-color: var(--block-bg);
		padding-top: 2rem;
		padding-bottom: 6rem;
		padding-left: 1rem;
		padding-right: 1rem;
		width: 348px;
		height: 320px;
	}

	.text-footer {
		margin-top: 2rem;
		font-size: 1.4rem;
		font-variation-settings: "wght" 300;
	}

	.names {
		display: flex;
		flex-direction: row;
		font-family: var(--font-family);
		font-variation-settings: "wght" 300;
		gap: 0.4rem;
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}

	#channel-users {
		display: flex;
		flex-direction: row;
		font-family: var(--font-family);
		font-variation-settings: "wght" 400;
		gap: 0.5rem;
		text-decoration: underline;
	}

	address {
		display: flex;
		flex-direction: row;
	}


}
