
	
	ul {
		grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
		gap: 15rem;
	}
	
	li {
		width: 410px;
		max-height: 740px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		object-fit: fill;
	}
	
	li {
		opacity: 20%;
		filter: grayscale(100%);
		filter: blur(100);
		transition: opacity 1s ease-in-out; /* Transition everything. */
	}
	
	li.highlight {
		opacity: 1;
		filter: grayscale(0%);
	}
	
	
	/* Title of media */
		.media-container {
			position: relative;
			display: inline-block;
			border: 2px solid #AEBA75;
			border-radius: 2px; 
			width: 410px;
		}
			
			
		.media-title {
			position: relative;
			bottom: 0px;
			left: 85%;
			transform: translateX(-85%);
			background: var(--accent-color1);
			color: #EFEEEB;
			padding: 1rem 3rem;
			font-size: 1.2rem;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
			white-space: nowrap;
			text-align: center;
		}
			
		.media-container:hover .media-title {
			opacity: 1;
		}
			
	/* Text Style */
	blockquote {
		max-width: 410px;
		font-family: var(--font-family);
		font-variation-settings: "wght" 100;
		font-size: 1.5rem;
		line-height: 2.2rem;
		background-color: rgba(249, 250, 165, 0.5);
		padding-top: 2rem;
		padding-bottom: 6rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	
	
	/* Uploaded Audio Style */
	audio {
		background-color: rgba(249, 250, 165, 0.5);
		filter: inherit;
		width: 410px;
		height: 450px;
		object-fit: cover;
		padding-top: 2rem;
		padding-bottom: 6rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	
	li .video-block {
		width: 410px;
		max-height: 450px;
		object-fit:contain
	}
	
	.uploaded-video {
		width: 406px;
		height: 450px;
	}
	
	
	/* Linked Audio + Video Style */
	iframe {
		background-color: rgba(249, 250, 165, 0.5);
		padding-top: 2rem;
		padding-bottom: 6rem;
		padding-left: 1rem;
		padding-right: 1rem;
		width: 406px;
	}
	
	
	
	
	}


	#c3b7a867